*{
            margin: 0;
            padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        body{
            height: 100%;
            width: 100%;
            background-color: rgb(11, 8, 8);
            background-image: url(./img2.jpg);
            background-repeat: no-repeat;
            background-size: 100%;
            
        }
        section{
            
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        main{
           
            display: flex;
            margin-top: 100px;
            justify-content: center;
            width: 700px;
            height: 400px;
            border-radius: 20px;
            filter: drop-shadow(0 0 0.74rem rgb(22, 86, 160));
        }
        #left-div{
            background-color: rgb(62, 61, 61);
            display: flex;
            color: white;
            flex-direction: column;
            gap: 30px;
            padding: 20px;
            width: 40%;
             border-top-left-radius: 10px;
             border-bottom-left-radius: 10px;
            
        }
        #title{
            display: flex;
            justify-content: center;
            margin-top: 30px;
            font-size: 30px;
        }
        .icons{
            display: flex;
            justify-content: center;
            gap: 30px;
            font-size: 25px;

        }
        .fa-brands:hover{
            cursor: pointer;
        }
        #inner-left-div{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        a{
            color: orange;
        }
        p,a{
            font-size: small;
        }
        .input-div{
            display: flex;
            flex-direction: column;
            gap: 20px;
            border: none;
        }
        button{
            padding: 10px;
            color: rgb(243, 241, 246);
            background-color: blue;
            border-radius: 30px;
            width: 70%;
            border: none;
            justify-content: center;
            margin-left: 17px;
        }
        button:hover{
            cursor: pointer;
            filter: drop-shadow(0 0 0.5rem rgb(216, 27, 27));
        }
        #right-div{
            background: linear-gradient(skyblue, blue);
            display: flex;
            flex-direction: column;width: 40%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 20px;
            justify-content: center;
            align-items: center;
        }
        #inner-right-div{
            color: white;
            display: flex;
            flex-direction: column;
            padding: 15px;
            gap: 15px;
            align-items: center;

        }